@import "../../global/global.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  .form-container {
    perspective: 1000px;
    width: 380px;
    height: 580px;
    margin: 0px auto;
  }
  .form-wrapper {
    position: relative; 
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  .form {
    width: 100%;
    height: auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    backface-visibility: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .form-cadastro {
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: white;
    border-radius: 12px;
    backface-visibility: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .form-wrapper h2{
    font-size: 1.5em;
  }
  
  #loginForm {
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  #cadastroForm {
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  form h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #1e90ff;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  form button {
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  form button:hover {
    background-color: #005bb5;
  }