    @import "../../global/global.css";
    main{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .container {
      max-width: 600px;
      margin:auto;
      background: #fff;
      padding: 2rem;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      border-radius: 10px;
    }

    h2 {
      text-align: center;
      color: #00695c;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-top: 1rem;
      font-weight: bold;
      color: #333;
    }

    input, textarea, select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }

    button {
      margin-top: 1.5rem;
      padding: 12px;
      background-color: #0a395f;
      color: #fff;
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover {
      background-color: #1d5b8d;
    }

    .footer {
      text-align: center;
      margin-top: 2rem;
      color: #666;
      font-size: 0.9rem;
    }